* {
    margin: 0;
    padding: 0;
}

.header {
    background: #FFF8F3; 
    background-image: url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}


.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800; 
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
    
}

nav a {
    text-decoration: none;
    color: #474747;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


.banner {
    
}